pre {
  position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			border: 1px solid rgb(0, 0, 0);
  }
  
  body {
  color: salmon;
  background-color: slategray;
  font-family: 'press start 2P';
  }
  
  .title {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 3vh;
    text-align: center;
  }
  
  .scoreboard {
    font-family: 'Press Start 2P', cursive;
    color: salmon;
    font-size: 16px;
    text-align: right;
    position: absolute;
    top: 10vh;
    
  }